<div class='splash'>
    <h1 class='splash_h1'>Budget-App</h1>

    <div id='splash_link'>
        <div>
             <a href="<%= new_user_session_path %>", id='log_in'>LOG IN</a>   
        </div>
       
        <a href="<%= new_user_registration_path %>">SIGN UP</a>
    </div>
</div>


