<button>
    <%= link_to "Back", categories_path %>
</button>



    <button>
            <%= link_to "Add transactions", new_category_product_path %>
     </button>

<% @products.each do |product| %>
     <div class="product">

    <h2><%= product.name %></h2>
      <h2>$ <%= product.amount %></h2>
  </div>

<% end %>